package ${package}.database.model;

import org.laziji.commons.mybatis.model.Base;

import java.util.Date;

public class ${className} extends Base{

#foreach ($column in $columns)
    #if ($column.columnName!="")
    private $column.attrType $column.columnName;
    #end
#end

#foreach ($column in $columns)
    #if ($column.columnName!="")
    public void set${column.columnName}($column.attrType value) {
            $column.columnName = value;
            }
    public $column.attrType get${column.columnName}() {
            return $column.columnName;
            }
    #end
#end
}